# Python virtual environment
venv/
.venv/
env/
ENV/
nivasa_ven/
.nivasa_ven/
nivasa_ven
.nivasa_ven
nivasa_venv/
.nivasa_venv/

# Bytecode
__pycache__/
*.py[cod]

# OS & editor files
.DS_Store
.vscode/
